@model MyViewModel

<div>
    <div class="d-flex mb-4 justify-content-around">
        <h3>Welcome @Context.Session.GetString("FirstName")</h3>
        <p><a href="/weddings">Home</a></p>
        <span>|</span>
        <a href="/weddings/create">Plan A Wedding</a>
        <span>|</span>
        <a href="/logout">Logout</a>
    </div>
    <div class="h5">
        @Model.Wedding.WedderOne & @Model.Wedding.WedderTwo 's wedding
    </div>
    <div>@Model.Wedding.Date.ToShortDateString()</div>
    <h6 class="mt-2">Guests</h6>
    <div class="border">
        <ul>
            @foreach (Guest i in Model.AllGuests)
            {
                <li>@i.User.FirstName</li>
            }
        </ul>
    </div>
</div>