@{
    ViewData["Title"] = "Home Page";
}
@model MyViewModel
<div>
    <div class="d-flex mb-4">
        <h3>Welcome @Context.Session.GetString("FirstName")</h3>
        <p>Home</p>
        <span>|</span>
        <a href="/weddings/create">Plan A Wedding</a>
        <span>|</span>
        <a href="/logout">Logout</a>
    </div>
    <table class="table">
        <thead>
            <th>Wedding Of</th>
            <th>Date</th>
            <th>Guest Count</th>
            <th>Action</th>
        </thead>
        <tbody>
            @foreach (Wedding i in Model.AllWeddings)
            {
            <tr>
                <td><a href="/weddings/@i.WeddingId">@i.WedderOne & @i.WedderTwo</a></td>
                <td>@i.Date.ToShortDateString()</td>
                <td>@i.Guests.Count()</td>
                @if(Context.Session.GetInt32("UserId") == i.UserId)
                {
                    <td>
                        <form asp-action="Destroy" asp-route-WeddingId="@i.WeddingId">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>

                }
                else if(i.Guests.Any(g => g.UserId == Context.Session.GetInt32("UserId"))==true)
                {
                    <td>
                        <form asp-action="LeaveWedding" asp-route-WeddingId="@i.WeddingId">
                            <button class="btn btn-warning">I Can't Go</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="RSVPWedding" asp-route-WeddingId="@i.WeddingId">
                            <button class="btn btn-success" >RSVP YES</button>
                        </form>
                    </td>
                }
            </tr>
                
            }
        </tbody>
    </table>
</div>