@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<div class="text-center">
    <div class="d-flex">
        <a href="/">Chefs</a>
        <span>|</span>
        <p>Dishes</p>
        <span>|</span>
        <a href="/chefs/new">Add a Chef</a>
        <span>|</span>
        <a href="/dishes/new">Add a Dish</a>
    </div>
    <h3>Take a look at these Chefs</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (Dish d in Model)
                {
                    <tr>
                    <td>@d.Name</td>
                    <td>@d.Chef.FirstName @d.Chef.LastName</td>
                    <td>@d.Tastiness</td>
                    <td>@d.Calories</td>
                    </tr>
                }
            
        </tbody>
    </table>
</div>